*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}


header{
  width: 100vw;
}

nav{
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}


.nav-item{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:flex-end;
  height: 100%;
  padding: 0px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

