/*
Google Fonts
font-family: 'Lato',sans-serif;
font-family: 'Oxygen',sans-serif;

*/

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

:root{
  --main-color:#171717;
  --secondary-color:#444444;
  --tertiary-color:#EDEDED;
}



body{
  background-color: var(--main-color);
  color: var(--tertiary-color);
  font-family: 'Lato',sans-serif;
  font-size: 1.4rem;
}

#root{
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

main{
  flex: 1;
}


header{
  background-color: var(--secondary-color);
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

}

footer  {
  background-color: var(--secondary-color);
  display: flex;
  width: 100vw;
  height: 60px;
  justify-content:center;
  align-items: center;
  margin-top: 30px;
}

nav{
  display: flex;
  height: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}


.nav-item{
  height: 100%;
  min-width: 160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items:center;
  margin: 0px 20px;
  padding: 10px 0px;
  font-family: 'Oxygen',sans-serif;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover{
  background-color: var(--main-color);
}

.header-logo{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

}

.img-nav{
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
}

.img-logo{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}



.img-body{
  width: 128px;
  height: 128px;
}

.page-body{
  width: 100vw;
  padding: 0px 40px;
}

.page-body p{
  text-align: justify;
  line-height: 1.8rem ;
  
}

.form{
  margin-top: 30px;
}

.form-input{
  display: flex;
  flex-flow: column nowrap;
}
.form-button{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.button{
  width: 100%;
  height: 60px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  font-family: 'Oxygen',sans-serif;
  font-size: 24px;
  font-weight: bold;
  border: solid 1px var(--tertiary-color);
  border-radius: 5px;
}

.form-input input, textarea{
  background-color:var(--secondary-color);
  color: var(--tertiary-color);
  border: solid 1px var(--tertiary-color);
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.form-input input
 {
  height: 40px;
}

.form-input textarea {
  height: 120px;
}



::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--tertiary-color);
  opacity: 0.8;
  /* Firefox */
}

.portafolio{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.portafolio-item{
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-between;
  width: 500px;
  height: 300px;
  margin:10px;
  border:solid 1px var(--tertiary-color);
  border-radius: 5px;
  cursor: pointer;
}

.portafolio-item h1{
  margin: 20px;
}

.item-description-container{
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  background-color: var(--secondary-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  
}

.portafolio-item:hover{
  border:solid 1px var(--main-color);
  opacity: 0.6;
}

@media only screen and (max-width: 1200px) {
  header{
    flex-flow:column nowrap;
    height: 200px;
  }
}


@media only screen and (max-width: 1024px) {
  .nav-item{
    font-size: 1.2rem;
    margin: 0px;
  }
  .img-nav{
    width: 32px;
    height: 32px;
  }
  .img-logo{
    width: 80px;
    height: 80px;
  }
  .header-logo h1{
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  header{
    height:260px;
    margin-bottom:20px;
    justify-content: flex-start;
   
  }
  nav {
    width: 100%;
    flex-flow: column nowrap;
  }
  .nav-item{
    width: 100%;
  }
  .img-nav{
    display: none;
  }
  .page-body{
    padding: 15px;
  }
}